/* This will contain all your review cards */
/* div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  /* Allows the reviews to wrap onto the next row if they don't fit */
    justify-content: center;  /* Centers the review cards horizontally */
    align-items: center; /* Centers the review cards vertically */
/*} */

/* Individual review card styles */
.reviews {
    display: flex;
    flex-direction: column;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow for depth */
    padding: 10px;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    max-height: 400px;
    min-width: 100px;
    background-color: #FFFFFF;
    z-index: 1;
}

/* Styling the review information */
.review_info {
    flex: 1; /* Take up as much space as possible within the .reviews container, pushing the image to the edge */
    margin-right: 20px; /* Space between the text and the image */
}

.review_title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.review_rating {
    color: gold; /* Change this to your desired color for the rating stars */
}

.review_text,
.review_timestamp {
    margin-bottom: 10px;
}


/* Style for the button below the review card */
.interested {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF; /* Adjust this color as needed */
    color: #FFFFFF;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Adds a smooth transition effect */
}

.interested:hover {
    background-color: #0056b3; /* Slightly darker shade for hover effect */
}
