.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: #333; 
    color: #ffffff;
    flex-wrap: wrap;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.header_logo {
    max-width: 200px;
    height: auto;
    transition: opacity 0.3s ease;
    margin-top: -30px;
}

.header_logo:hover {
    opacity: 0.8; 
}

.nav_item {
    margin: 0 15px;
    position: relative;
    transition: color 0.3s ease;
    cursor: pointer;
    color:#ffffff;
    font-size: 15x;
}

.nav_item:hover {
    color: #f39c12; 
}

.header_goferinfo {
    font-size: 16px;
    color: #a3a3a3; 
    width: 100%;
    text-align: center;
    margin-top: 10px;
    order: -1;
}

.dropdown {
    position: relative;
    width: fit-content;
    list-style-type: none; 
    padding-left: 0; 
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #444;
    border: 1px solid #555; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10; 
    list-style-type: none; 
    padding: 0;
    margin: 0; 
    min-width: 170px;
    font-size: 16px;
}

.dropdown:hover .dropdown-menu {
    display: block;
    list-style-type: none; 
    padding-left: 0; 
}

.header_financing_dropdown {
    list-style: none;
    padding: 0; 
    margin: 0; 
}

.header_financing_dropdown li a {
    padding: 8px 12px;
    display: block;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s ease;
    padding: 5px 10px;
    margin: 0;  
}

.header_financing_dropdown li a:hover {
    background-color: #f39c12; 
}

.header_login {
    padding: 5px 20px;
    /* background-color: #f39d1269;  */
    border-radius: 5px;
    cursor: pointer;
    color:#ffffff;
    transition: background-color 0.3s ease;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.header_login:hover {
    background-color: #e67d2248;
}
