body, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer_container {
    background-color: #333;
    padding: 20px 40px;
    color: #B2B5B9;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.footer_phone_email {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-right: 2px solid #B2B5B9;
    padding: 10px 30px;
    margin-right: 20px;
    background: #1f1e1e;
    border-radius: 5px;
}

.footer_phone {
    font-size: 1.4rem;
    margin-bottom: 15px;
    color: #ECF0F1;
    display: flex;
    align-items: center;
}

.footer_phone::before {
    content: '\260E';
    margin-right: 10px;
    font-size: 1.6rem;
}

.footer_emails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    font-size: 1.1rem;
}

.footer_emails::before {
    content: '\2709';
    margin-right: 10px;
    font-size: 1.3rem;
    display: block;
    margin-bottom: 5px;
}

.footer_address {
    font-style: italic; 
    margin-right: 20px;
    border-right: 2px solid #B2B5B9;
    padding-right: 20px;
}

.footer_hours_days {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    align-items: center;
    background: #1b2024;  
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    width: 300px; 
}

.footer_days, .footer_hours {
    margin: 0;
    width: 50%;
    text-align: center;
    padding: 5px 0;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.footer_days {
    font-weight: bold;
    background-color: #1f1e1e; 
    color: #ECF0F1;
    cursor: pointer;
}

.footer_hours {
    background-color: #2d2c2c; 
    color: #ECF0F1;
    font-size: 0.95rem;
}

.footer_days:hover {
    background-color: #2d2c2c; 
}

.privacy_rights {
    font-size: 0.8rem;
}
