:root {
    --primary-color: #2C3E50;
    --secondary-color: #F39C12;
    --light-gray: #ECF0F1;
    --dark-gray: #7F8C8D;
    --error-red: #E74C3C;
    --success-green: #2ECC71;
    --transition-speed: 0.3s;
}

.contactCard_container {
    width: 90%;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px 25px;
    border: 1px solid var(--dark-gray);
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
}

.footer_question {
    font-size: 1.8rem;
    margin-bottom: 15px;
    color: var(--primary-color);
    font-weight: 600;
    text-align: center;
}

.input-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.input-group input {
    flex: 1;
    margin-right: 5px;
    box-sizing: border-box;
}

.contact_name, .contact_last, .contact_phone, .contact_email, .contact_questions {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid var(--dark-gray);
    border-radius: 8px;
    background-color: var(--light-gray);
    font-size: 1rem;
    transition: border-color var(--transition-speed) ease, box-shadow 0.2s ease;
    outline: none;
}

.contact_name:focus, .contact_last:focus, .contact_phone:focus, .contact_email:focus, .contact_questions:focus {
    border-color: var(--secondary-color);
    box-shadow: 0 0 5px rgba(243, 156, 18, 0.4);
    
}

select {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid var(--dark-gray);
    border-radius: 8px;
    background-color: var(--light-gray);
    font-size: 1rem;
    outline: none;
}

.contact_successMessage {
    color: var(--success-green);
    font-weight: 600;
    margin-bottom: 12px;
    text-align: center;
}

.contact_send {
    width: 100%;
    padding: 12px;
    background-color: var(--primary-color);
    color: #FFF;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color var(--transition-speed) ease-in-out, transform 0.2s ease-in-out;
}

.contact_send:hover {
    background-color: var(--secondary-color);
    transform: translateY(-1px);
}

.contact_send:focus {
    outline: none;
}

.reviewAndContact_container {
    display: flex;
    justify-content: space-evenly; 
    align-items: start; 
    gap: 20px;
}

.secondInput {
    margin-right: 29px;
}